/*styling the body of webpage */
*{
  padding: 0; 
  margin: 0;
  background-color: #F2C3DE;
  box-sizing: border-box;
}
/*styling the h1 tag*/
.heading{
  text-align: center;
  padding:5px 0 7px 0;
  font-family:'Lucida Sans';
}
/* Main container styling */
.slider {
  position: relative;
    width: 70%;
    height:500px;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
  }
  /*slides container styling*/
  .slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  /*styling each images of the style container*/
 .slides img{
  width: 100%;
 }
 /*styling the  navigation buttons*/
 .slider button{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding:12px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  z-index: 5;
 }
  /* Positioning the previous button on the left */
 .prev{
  left: 10px; 
 }
  /*positioning the next button on the right */
 .next{
  right:10px;
 }
 