.slide-container {
  background-color: #76b5c5;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
 .slides{
   display: flex;
   transition: transform 0.5s ease-in-out;
 }
 .slide img{
  width:100%;
  border:none;
 }
  

  
 

  